{% extends 'datagrid/blocks.html.twig' %}

{# ------------------------------------------------------ grid ------------------------------------------------------ #}
{% block grid %}
<div class="grid">
{% if grid.totalCount > 0 or grid.isFiltered or grid.noDataMessage is same as (false) %}
    <form id="{{ grid.hash }}" action="{{ grid.routeUrl }}" method="post">
        <div class="grid_header">
        {% if grid.massActions|length > 0 %}
            {{ grid_actions(grid) }}
        {% endif %}
        </div>
        <div class="grid_body">
        <table class="table table-bordered table-striped table-hover table-sm" id="table_{{ grid.hash }}">
        
        {% if grid.isTitleSectionVisible %}
        <thead class="dg-thead">
            {{ grid_titles(grid) }}
            
        {% endif %}
        {% if grid.isFilterSectionVisible %}
            {{ grid_filters(grid) }}
        {% endif %}
        </thead>
        <tbody>
        {{ grid_rows(grid) }}
        </tbody>
        </table>
        </div>
        <div class="grid_footer">
        <div class="grid-total">{{ grid_pager_totalcount(grid) }}</div>
        {% if grid.isPagerSectionVisible %}
            {{ grid_pager(grid) }}
        {% endif %}
        {% if grid.exports|length > 0 %}
            {{ grid_exports(grid) }}
        {% endif %}
        {% if grid.tweaks|length > 0 %}
            {{ grid_tweaks(grid) }}
        {% endif %}
        </div>
        {% if withjs %}
            {{ grid_scripts(grid) }}
        {% endif %}
    </form>
{% else %}
    {{ grid_no_data(grid) }}
{% endif %}
</div>
{% endblock grid %}

{# --------------------------------------------------- grid_titles -------------------------------------------------- #}
{% block grid_titles %}
    <tr class="grid-row-titles">
    {% for column in grid.columns %}
        {% set translation_domain = column.translationDomain %}
        {% if column.visible(grid.isReadyForExport) %}
            <th class="{% if column.align != 'left' %}align-{{ column.align }}{% endif %}{% if column.class %} {{ column.class }}{% endif %}{% if loop.last %} last-column{% endif %}"{% if (column.size > -1) %} style="width:{{ column.size }}px;"{% endif %}>
            {% apply spaceless %}
            {% if column.type == 'massaction' %}
                <input type="checkbox" class="grid-mass-selector" onclick="{{ grid.hash }}_markVisible(this.checked);"/>
            {% else %}
                {% set columnTitle = column.title %}

                {% if column.usePrefixTitle == true %}
                    {% set columnTitle = grid.prefixTitle ~ columnTitle ~ '__abbr' %}
                    {% if columnTitle|trans({}, translation_domain) == columnTitle %}
                        {% set columnTitle = grid.prefixTitle ~ column.title %}
                    {% endif %}
                {% endif %}

                {% set columnTitle = columnTitle|trans({}, translation_domain) %}

                {% if (column.sortable) %}
                    <a class="order" href="{{ grid_url('order', grid, column) }}" title="{{ 'Order by'|trans }} {{ columnTitle }}">{{ columnTitle | raw }}</a>
                    {% if column.order == 'asc' %}
                        <div class="sort sort_up"><i class="fa fa-sort-up"></i></div>
                    {% elseif column.order == 'desc' %}
                        <div class="sort sort_down"><i class="fa fa-sort-down"></i></div>
                    {% else %}
                    	<div class="sort"><i class="fa fa-sort"></i></div>
                    {% endif %}
                {% else %}
                    {{ columnTitle | raw }}
                {% endif %}
            {% endif %}
            {% endapply %}
            </th>
        {% endif %}
    {% endfor %}
    </tr>
{% endblock grid_titles %}